.root {
	width: 100%;
	height: 100%;
	padding-left: 200px;
}

#label-text {
	color: white;
	font-size: 48;
	horizontal-align: center;
	vertical-align: top;
}

#hero {
	horizontal-align: center;
	vertical-align: center;
}

#black_sq {
	horizontal-align: left;
	vertical-align: top;


	width: 140px;
	height: 70px;
}