/* Общий контейнер для Top Bar */
.root {
    min-width: 700px;
    height: 9%;
	margin-left: 160px;
    horizontal-align: left;
    vertical-align: top;
    background-color: black;
}


/* Индивидуальная панель для героя */
.HeroPanel {
	horizontal-align: left;
    flow-children: right;
    padding: 15px;
    padding-top: 5px;
}

/* Иконка героя */
.HeroIcon {
	width: 110px;
	height: 60px;
	margin-right: 5px;
}

/* Текст золота */
.HeroGold {
    width: 100%;
    text-align: center;
    color: #FFD700; /* Золотистый цвет */
    font-size: 16px;
}
