.root {
    margin-left: 170px;
    horizontal-align: left;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.7); /* Добавляем полупрозрачный фон */
    border-radius: 10px; /* Скругляем края */
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; 
    padding: 5px; /* Добавляем внутренние отступы */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Тень для объема */
}

#hero_panel {
    min-width: 140px;
    min-height: 104px;
    horizontal-align: left;
    flow-children: right;
    padding: 15px;
    padding-top: 5px;
}

.hero_bar {
    min-height: 100px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#444), color-stop(0.2, #555), color-stop(0.5, #333), to(#222)); 
    margin-right: 10px;
    border-radius: 2px; /* Скругляем края */
    border: 2px solid rgba(255, 215, 0, 0.3); /* Золотистая рамка */
}

.HeroIcon {
    width: 100px;
    height: 55px;
    border-bottom: 2px solid rgba(255, 215, 0, 0.3); /* Линия под иконкой */
}

.HeroGold {
    min-width: 100px;
    min-height: 55px;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFD700; /* Золотистый цвет */
    font-size: 18px;
    padding-top: 65px;
    padding-left: 7px;

}

.hero_networth_icon {
    height: 20px;
    width: 20px; 
}
